.lastseed
.venv/
FreeEnt/.build/
FreeEnt/__pycache__/
FreeEnt/server/__pycache__/
f4c/__pycache__/
f4c/ff4bin/__pycache__/
f4c/ff4struct/__pycache__/
f4c/lark/__pycache__/
f4c/lark/parsers/__pycache__/
ff4.smc
FreeEnt/flagspec.txt.backup
FreeEnt/server/_build/
FreeEnt/server/bin/
FreeEnt/server/objective_data.py
FreeEnt/server/script/flags-.js
FreeEnt/server/script/flags-4.6.0.open.js
FreeEnt/server/srcdata/flagsetcore.js.map
debug
debug.script
debug.spoiler.private
debug.symbols
fetools/__pycache__/
fetools/harp/__pycache__/
fetools/processors/__pycache__/
output/
notes.txt
getLatest.sh

