:root {

    font-size: 1.1rem;

    --base-white: rgb(230, 230, 230);
    --bright-wite: rgb(250, 250, 250);
    --link-color: rgb(180, 180, 180);
    --link-color-hover: rgb(150, 150, 150);
    --dark-background: hsl(240, 11%, 18%);
    --light-background: hsl(240, 11%, 28%);
    --blue-background: hsl(240, 100%, 19%);
    --table-even: hsl(240, 11%, 33%);
    --table-odd: hsl(240, 11%, 38%);
    --admonition-radius: 3px;

    color: var(--base-white);

    /* warning */
    --color-warning-bg: hsl(3, 75%, 87%);
    --color-warning-title-bg: hsl(2, 83%, 30%);
    --color-warning-fg: hsl(2, 99%, 62%);

    /* note/info */
    --color-note-bg: hsl(219.5, 84%, 87%);
    --color-note-title-bg: hsl(219.5, 60%, 30%);
    --color-note-fg: hsl(220, 100%, 65%);

    /* success */
    --color-success-bg: rgb(155, 236, 0);
    --color-success-fg: rgb(5, 146, 18);
    --color-success-title-bg: rgb(5, 146, 18);

    /* error */
    --color-error-bg: hsl(0, 37%, 90%);
    --color-error-fg: hsl(0, 37%, 50%);

    /* todo */
    --color-todo-bg: hsl(266.8, 100%, 90%);
    --color-todo-fg: hsl(266.8, 100%, 50%);

    /* icons used for admonition titles */
    --icon-pencil: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83 3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75L3 17.25z"/></svg>');
    --icon-abstract: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4 5h16v2H4V5m0 4h16v2H4V9m0 4h16v2H4v-2m0 4h10v2H4v-2z"/></svg>');
    --icon-info: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 002 12a10 10 0 0010 10 10 10 0 0010-10A10 10 0 0012 2z"/></svg>');
    --icon-flame: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.55 11.2c-.23-.3-.5-.56-.76-.82-.65-.6-1.4-1.03-2.03-1.66C13.3 7.26 13 4.85 13.91 3c-.91.23-1.75.75-2.45 1.32-2.54 2.08-3.54 5.75-2.34 8.9.04.1.08.2.08.33 0 .22-.15.42-.35.5-.22.1-.46.04-.64-.12a.83.83 0 01-.15-.17c-1.1-1.43-1.28-3.48-.53-5.12C5.89 10 5 12.3 5.14 14.47c.04.5.1 1 .27 1.5.14.6.4 1.2.72 1.73 1.04 1.73 2.87 2.97 4.84 3.22 2.1.27 4.35-.12 5.96-1.6 1.8-1.66 2.45-4.32 1.5-6.6l-.13-.26c-.2-.46-.47-.87-.8-1.25l.05-.01m-3.1 6.3c-.28.24-.73.5-1.08.6-1.1.4-2.2-.16-2.87-.82 1.19-.28 1.89-1.16 2.09-2.05.17-.8-.14-1.46-.27-2.23-.12-.74-.1-1.37.18-2.06.17.38.37.76.6 1.06.76 1 1.95 1.44 2.2 2.8.04.14.06.28.06.43.03.82-.32 1.72-.92 2.27h.01z"/></svg>');
    --icon-question: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.07 11.25l-.9.92C13.45 12.89 13 13.5 13 15h-2v-.5c0-1.11.45-2.11 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41a2 2 0 00-2-2 2 2 0 00-2 2H8a4 4 0 014-4 4 4 0 014 4 3.2 3.2 0 01-.93 2.25M13 19h-2v-2h2M12 2A10 10 0 002 12a10 10 0 0010 10 10 10 0 0010-10c0-5.53-4.5-10-10-10z"/></svg>');
    --icon-warning: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 14h-2v-4h2m0 8h-2v-2h2M1 21h22L12 2 1 21z"/></svg>');
    --icon-failure: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2c5.53 0 10 4.47 10 10s-4.47 10-10 10S2 17.53 2 12 6.47 2 12 2m3.59 5L12 10.59 8.41 7 7 8.41 10.59 12 7 15.59 8.41 17 12 13.41 15.59 17 17 15.59 13.41 12 17 8.41 15.59 7z"/></svg>');
    --icon-spark: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.5 20l4.86-9.73H13V4l-5 9.73h3.5V20M12 2c2.75 0 5.1 1 7.05 2.95C21 6.9 22 9.25 22 12s-1 5.1-2.95 7.05C17.1 21 14.75 22 12 22s-5.1-1-7.05-2.95C3 17.1 2 14.75 2 12s1-5.1 2.95-7.05C6.9 3 9.25 2 12 2z"/></svg>');
}

body {
    background-color: var(--light-background);
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

h1 a {
    font-size: .7em;
    font-weight: 100;
    vertical-align: middle;
    padding-bottom: 5px;
}

strong {
    font-weight: bold;
    color: var(--bright-wite);
}

em {
    font-style: italic;
    color: var(--bright-wite);
}

code {
    background-color: black;
    color: var(--bright-wite);
}

table {
    margin-left: 10px;

    thead th {
        background-color: var(--table-even);
    }

    th {
        padding: .3rem;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
    }

    td {
        text-align: center;
        padding: 0rem .2rem;
    }

    tbody tr:nth-child(even) {
        background-color: var(--table-even);
    }

    tbody tr:nth-child(odd) {
        background-color: var(--table-odd);
    }
}

/* Definition List */
dl {
    padding-left: 1rem;
}

dt {
    font-size: 1.3rem;
}

dd {
    padding-left: -.3rem;
    line-height: 1.5rem;
}

.info-section {
    border: .2em ridge rgb(250, 250, 250);
    border-radius: .2em;
    background-color: var(--dark-background);
    font-size: 1.2rem;

    p,
    li {
        max-width: 70ch;
    }

    p {
        padding-left: 20px;
        padding-right: 20px;
    }

    a {
        text-decoration: underline;
    }

}

.title-card {
    margin-top: 10px;
    border: 0.3em ridge rgb(250, 250, 250);
    border-radius: .2em;
    padding: 1em;
    background-color: var(--blue-background);
    margin-bottom: 2em;
    line-height: 1.4em;
}

h1 {
    margin: 0;
    /* remove default margin in Edge */
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    padding: 15px;
}

h2 {
    margin: 0;
    /* remove default margin in Edge */

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.7rem;
    font-weight: bold;
    padding: 5px 15px;
}

h3 {
    margin: 0;
    /* remove default margin in Edge */

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 5px 15px;
}

h4 {
    margin: 0;
    /* remove default margin in Edge */

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.9rem;
    font-weight: bold;
    padding: 5px 10px;
}

h5 {
    margin: 0;
    /* remove default margin in Edge */

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 10px;
    font-variant: small-caps;
}


.admonition {
    max-width: 90%;
    margin: 1rem 1.4rem;
    color: black;

    .admonition-title {
        position: relative;
        font-weight: bold;
        margin-top: 0rem;
        padding: 0.3rem 1rem 0.3rem 2.3rem;
        font-size: 1.3rem;
        border-radius: var(--admonition-radius) var(--admonition-radius) 0 0;
        color: var(--base-white)
    }
}

.admonition-title::before {
    content: "";
    height: 1.4rem;
    left: .5rem;
    top: .5rem;
    position: absolute;
    width: 1.4rem;
    mask-size: 1.4rem;
    margin-right: .4rem;
}

/* Red/Angry colored admonitions */
.warn {

    border: 2px solid var(--color-warning-fg);
    border-radius: 5px;
    background-color: var(--color-warning-bg);

    .admonition-title::before {
        background-color: var(--color-warning-fg);
        -webkit-mask-image: var(--icon-warning);
        mask-image: var(--icon-warning);
    }

    .admonition-title {
        background-color: var(--color-warning-title-bg);
        border-bottom: 1px inset var(--color-warning-fg);
    }
}

.danger {
    border: 2px solid var(--color-warning-fg);
    border-radius: 5px;
    background-color: var(--color-warning-bg);

    .admonition-title::before {
        background-color: var(--color-warning-fg);
        -webkit-mask-image: var(--icon-flame);
        mask-image: var(--icon-flame);
    }

    .admonition-title {
        background-color: var(--color-warning-title-bg);
        border-bottom: 1px inset var(--color-warning-fg);
    }
}

/* blue tinted general-info */
.info {
    border: 2px solid var(--color-note-fg);
    border-radius: 5px;
    background-color: var(--color-note-bg);
    color: black;

    .admonition-title::before {
        background-color: var(--color-note-fg);
        -webkit-mask-image: var(--icon-info);
        mask-image: var(--icon-info);
    }

    .admonition-title {
        background-color: var(--color-note-title-bg);
        border-bottom: 1px inset var(--color-note-fg);

    }
}